@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'responsive.css';
@import 'font-face.css';
@import 'utils.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, "Poppins-ex", sans-serif;
  max-width: 1920px;
  margin: auto;
}

.banner {
  position: relative;
  z-index: 1;
  height: 728px;
}


/* Navigation  */
nav {
  width: inherit;
  padding-top: 41px;
  padding-left: 6%;
  padding-right: 6%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  transition: height .5s, background-color .5s;
}

nav .wrapper-navbar-nav {
  display: flex;
}

.hero {
  display: flex;
  align-items: center;
}

.hero h1 {
  font-size: 22px;
  margin-left: 10px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: 94px;
}

.navbar-nav li {
  list-style: none;
  margin-right: 40px;
}

.navbar-nav li a {
  text-decoration: none;
  font-size: 18px;
  color: #575A62;
  font-weight: 300;
  text-shadow: 0 0 1px rgba(255, 255, 255, .8);
}

.navbar-nav li a:hover {
  text-decoration: underline;
}

.btn-group {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

/* Akhir Dari Navigation */


/* Banner left side */
.banner-left-side {
  padding-left: 6%;
  padding-right: 6%;
  width: 57%;
  display: inline-block;
  height: 728px;
  background: radial-gradient(83.5% 103.88% at 37.07% 56.46%, #84DFFF 0%, rgba(207, 180, 177, 0.13) 100%);
  border-radius: 0px 0px 0px 20px;
  position: absolute;
  z-index: -1;
  left: 0;
}

.banner-left-side h1 {
  margin-top: 170px;
  margin-bottom: 24px;
  font-size: 52px;
  font-weight: 700;
  color: #0C111F;
}

.banner-left-side .banner-text {
  color: #565961;
  margin-bottom: 40px;
}

.gallery-link {
  margin-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.gallery-link:hover {
  text-decoration: underline;
}

.gallery-link .iconify {
  margin-left: 10px;
}

/* Akhir Banner Left Side */

/* Banner Right Side  */
.banner-right-side {
  width: 45%;
  display: inline-block;
  height: 728px;
  background-size: cover;
  position: absolute;
  right: 0;
  border-radius: 0px 0px 20px 0px;
  z-index: -1;
}

.banner-right-side img {
  width: 100%;
  height: 728px;
  object-fit: fill;

}

/* Akhir Banner Right Side */


/* Destinations Section */
.destination {
  padding: 6% 6% 136px 6%;
}

.destination header {
  text-align: center;
}

.destination header h2 {
  font-size: 40px;
  color: #0C111F;
  margin-bottom: 20px;
}

.destination header p {
  font-size: 16px;
  color: #70737C;
  margin-bottom: 60px;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product {
  width: 400px;
  margin-right: 12px;
  margin-bottom: 80px;

}

.product figure {
  position: relative;
  /* width: 400px; */
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 16px;
}

.product figure img {
  width: 100%;
  transition: 1s;
}

.product figure:hover img {
  transform: scale(1.2);
}

.product h3 {
  font-size: 24px;
  color: #0C111F;
  margin-bottom: 8px;
}

.product-text {
  margin-bottom: 24px;
  color: #70737C;
}

.product-text a {
  text-decoration: none;
  color: #07B3AE;
}

.product-text a:hover {
  text-decoration: underline;
}

.rating {
  position: absolute;
  top: 28px;
  right: 30px;
}

.booking {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.price-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.price {
  font-size: 22px;
  font-weight: bold;
}

.people-text {
  font-size: 14px;
}

.btn-show-products {
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin: auto;
}

.btn-show-products .iconify {
  margin-left: 6px;
}

/* Akhir Destinations Section  */


/* Experiences Section */
.experiences {
  display: flex;
  justify-content: space-between;
  padding-left: 9%;
  padding-right: 9%;
  padding-bottom: 120px;
  flex-wrap: wrap;
}

.holiday {
  width: 48%;

}

.holiday h2 {
  font-size: 40px;
  margin-bottom: 18px;
}

.holiday h2 span {
  display: block;
}


.holiday p {
  font-size: 18px;
  color: #6F717A;
  margin-bottom: 42px;
}

.holiday p span {
  display: block;
}

.features {
  width: 48%;

}

.feature {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
}

.circle {
  padding: 21px;
  border-radius: 50%;
  background-color: #07B3AE;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 16px;
}

.info h3 {
  font-size: 24px;
  color: #0C111F;
  margin-bottom: 8px;
  font-weight: bold;
}

.info p {
  color: #6F717A;
  font-weight: 500;
}


/* Akhir Experiences Section */


/* Gallery Section */
.gallery {
  padding: 6%;
  margin-bottom: 80px;
}

.gallery header h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.gallery header p span {
  display: block;
  font-size: 18px;
  color: #6F717A;
  font-weight: 400;
}

.gallery header .info {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}


/* Photos  */
.photos {
  display: grid;
  grid-template-areas: "large large medium medium"
    "large large small1 small2";

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 220px 220px;
  height: 460px;
  gap: 10px;
}

.photo-large {
  grid-area: large;
}

.photo-medium {
  grid-area: medium;
}

.photo-small1 {
  grid-area: small1;
}

.photo-small2 {
  grid-area: small2;
}

.photos figure {
  position: relative;
  cursor: pointer;
}

.photos figure img {
  width: 100%;
  height: 100%;
}

.photos figure .overlay {
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .4);
  transition: 1s;
  opacity: 0;
}

.photos figure:hover .overlay {
  height: 50% !important;
  opacity: 1;
}


/* Akhir Photos */


/* Akhir Gallery Section  */


/* Subscribe Section */
.subscribe {
  padding-right: 6%;
  padding-left: 6%;
  margin-bottom: 100px;
}

.jumbotron {
  padding: 50px;
  background: radial-gradient(94.49% 1162.06% at 26.13% 59.59%, #84DFFF 0%, rgba(207, 180, 177, 0) 100%);
  border-radius: 12px;
  text-align: center;
}

.jumbotron h2 {
  color: #1C3F4D;
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: bold;
}

.jumbotron h2 span {
  display: block;
}

.jumbotron p {
  font-size: 18px;
  color: #1C3F4D;
  margin-bottom: 38px;
}

.input-group {
  width: 60%;
  background-color: white;
  margin: auto;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  padding: 6px 12px;
}

.input-group input {
  width: 90%;
  border: 0;
  padding: 6px;
  font-size: 1em;
  font-family: Poppins, Georgia, sans-serif;
}

.input-group input:focus {
  border: 0;
  outline: 0;

}

/* Akhir Subscribe Section */


/* footer */
footer {
  padding-right: 6%;
  padding-left: 6%;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 34px;
  margin-bottom: 34px;
}

.footer-info .hero {
  margin-bottom: 24px;
}

.footer-info p {
  margin-bottom: 24px;
}

.footer-traveler p span {
  display: block;
}

.footer-links-wrapper {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.social-media {
  display: flex;
}

.wrapper-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1C3F4D;
  border-radius: 50%;
  padding: 10px;
  color: #1C3F4D;
  margin-right: 10px;
  cursor: pointer;
}

.wrapper-icon:hover {
  background-color: #eaeaea;
}

.footer-links {
  margin-bottom: 20px;
  margin-right: 10px;
}

.footer-links h4 {
  color: #0C111F;
  margin-bottom: 20px;
}

.footer-item {
  margin-bottom: 8px;
  list-style: none;
}

.footer-link {
  color: #6F717A;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-copyright {
  padding-bottom: 34px;
  text-align: center;
  color: #6F717A;
}


/* Akhir Footer  */